PORT=3101
HOST=127.0.0.1
APP_ORIGIN=http://localhost:5173
SOLANA_INDEX_API_KEY=
SOLANA_INDEX_NETWORK=devnet
S3_ENDPOINT=
S3_REGION=us-east-1
S3_BUCKET=
S3_ACCESS_KEY=
S3_SECRET_KEY=
EVERLAND_ACCESS_KEY=
EVERLAND_SECRET_KEY=
EVERLAND_BUCKET_NAME=
IPFS_ENDPOINT=https://ipfs.4everland.io/ipfs/
BOND_RPC_URL=
BOND_PROGRAM_ID=
BOND_NETWORK=devnet
